body, div, section, p, a, ul, li {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: #3897f0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#root {
  height: 100%;
  width:100%;
}

.full-page {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.game-nav {
  background-color: #6441a4;
  float: left;
  width: 268.8px;
}

.inputs {
  width: 222px;
  background-color: mediumpurple;
  border: none;
  padding: 4px;
  color: white;
}

.trending {
  background-color: white;
  width: 28.8px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

.fa-twitch {
  color: #6441a4;
}

.nav-bar {
  height: 95%;
  margin: 10px;
}

.game-title {
  font-family: "dimitri";
  font-size: 25px;
  color: white;
  margin-left: 46px;

}


.game-list {
  height: calc(100% - 60%);
  overflow: scroll;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: white 1px solid;
  border-bottom: white 1px solid;
}
.search-bar {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}

.mag {
  color: white;
}
.game-form {
  margin-right: 5px;
}
.game-item-title {
  margin-left: 10px;
}

.no-channels-message {
  justify-content: center;
  display: flex;
  margin-top: 30px;
}

.logo {
  height: 40px;
  width: auto;
}

.game-item {
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.watch-window {
  float: right;
  width: 79%;
}

.window {
  height: calc(100% - 147px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;

}
.clip-list-section {
  position: fixed;
  bottom: 0;
  right: 0;
  width: calc(100% - 268px);
}

.clip-list-container {
  width: 100%;
}

.clip-list {
  list-style-type: none;
  display:flex;
  flex-direction: row;
  overflow: scroll;
}

.clip {
  position: relative;
}

.clip-title {
  position: absolute;
  color: white;
  visibility: hidden;
}

.clip-list-img {
  width: 260px;
  height: 147px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;

}
.hover-graphic {
  width:260px;
  height:147px;
  background-color: rgba(0,0,0,0);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover-graphic:hover > .clip-title {
  width:260px;
  height:147px;
  background-color: rgba(0,0,0, .35);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
}

.clips-genre {
  color: white;
  background-color: #6441a4;
  padding: 10px;
  position: absolute;
  z-index: 1;

}

.game-item:hover {
  cursor: pointer;
  border-left: solid 1px white;
  border-right: solid 1px white;
}

.clip-view-section {
  width: calc(100% - 268.8px);

}
.clip-view-window {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 30px;
}

.footer-list {
  font-size: 20px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.f-label {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.f-list-item {
  font-size: 12px;
  margin-right:10px;
}

.f-list-item:last-of-type {
  margin-right: 0;
}

.f-list-item:hover {
  border-bottom: 1px solid white;
}

.welcome-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6441a4;
  padding: 20px;
  border-radius: 2px;
  color: white;
}

.welcome-items {
  padding: 10px;
}

#font-awesome-icon {
  color:white;
}
